@model IEnumerable<CityMvc.Models.Sehir>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Şehir Adı</th>
            <th>Ülke Adı</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.SehirAdi</td>
                <td>@item.UlkeAdi</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create">Yeni Şehir Ekle</a>

